/*****  基于webkit的浏览器  *****/

::-webkit-scrollbar
/*整体部分*/

{
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track
/*滑动轨道*/

{
    -webkit-box-shadow: inset 0 0 2px rgba(10, 125, 190, 0.25);
    border-radius: 0px;
    background: rgba(10, 125, 190, 0.25);
}

::-webkit-scrollbar-thumb
/*滑块*/

{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px rgba(10, 125, 190, 0.25);
    background: rgba(10, 125, 190, 0.25);
}

::-webkit-scrollbar-thumb:hover
/*滑块效果*/

{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 2px rgba(10, 125, 190, 0.25);
    background: rgba(10, 125, 190, 0.25);
}

@font-face {
    font-family: 'OPPOSans';
    src: url(./fonts/OPPOSans-R.ttf);
}

@font-face {
    font-family: 'PingFang SC';
    src: url(./fonts/PingFang-SC-Regular.ttf);
}

@font-face {
    font-family: 'LCD';
    src: url(./fonts/LCD.TTF);
}

@font-face {
    font-family: 'Alibaba PuHuiTi';
    src: url(./fonts/Alibaba-PuHuiTi-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: PingFang SC, 'PingFang SC';
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* .common-select-dropdown.el-select-dropdown {
  color: #5cdaf5;
  border-color: #01c2ff;
  border-image-source: linear-gradient(45deg, #01c2ff, #1ee7e7, #0f4364);
  border-image-slice: 1;
  background: radial-gradient(59.4% 54.17% at 50% 54.17%, rgba(55, 207, 255, 0.25) 0%, rgba(14, 62, 92, 0.25) 100%);
} */

.common-message-box.el-message-box {
    background: #0e1d28;
    border-color: #01c2ff;
    border-image-source: linear-gradient(45deg, #01c2ff, #1ee7e7, #0f4364);
    border-image-slice: 1;
}

.common-message-box.el-message-box .el-message-box__title {
    color: #49FDFD;
}

.common-message-box.el-message-box .el-message-box__close {
    color: #49FDFD;
}

.common-message-box.el-message-box .el-message-box__message {
    color: #5cdaf5;
}

.common-message-box.el-message-box .el-message-box__btns .el-button--default {
    background-color: transparent;
    border-color: #0bb3f0;
    color: #0bb3f0;
    font-size: 14px;
    padding: 8px 15px;
}

.common-message-box.el-message-box .el-message-box__btns .el-button--primary {
    background-color: #0bb3f0;
    border-color: #0bb3f0;
    color: #000;
    font-size: 14px;
    padding: 8px 15px;
}

.el-loading-mask {
    background-color: rgba(0, 0, 0, .4);
}

.v-modal {
    background: #000D46 !important;
    opacity: 0.6 !important
}

.el-progress-bar__innerText {
    display: none;
}

.el-date-editor .el-range-separator {
    color: rgba(255, 255, 255, 0.65);
}

.el-menu-item.is-active {
    color: #94ffff !important;
    /* background: transparent; */
    background: rgba(241, 243, 249, 0.12);
    box-shadow: inset 1.97465px -1.97465px 11.8479px rgba(248, 248, 255, 0.2);
}

.el-menu-item:focus,
.el-menu-item:hover {
    background: transparent;
    background: rgba(241, 243, 249, 0.12);
    box-shadow: inset 1.97465px -1.97465px 11.8479px rgba(248, 248, 255, 0.2);
    /* color        : #94ffff !important; */
}

.el-menu-item,
.el-submenu__title {
    color: #fff;
    height: 32px !important;
    line-height: 32px !important;
    padding: 0 10px !important;
}

.el-icon-menu {
    display: none;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}